/*----------------------------------------
VARIABLES
------------------------------------------*/
/* color */
$base-font-color: gray;
$light-bg: transparent;
$light-white-bg: rgba(255, 255, 255, 0.85);
$light-gray-bg: rgba(232, 232, 232, 0.85);

/* border */
$base-bd: 1px solid rgba(0, 0, 0, 0.12);
$base-light-bd: 1px solid rgba(255, 255, 255, 0.12);
$base-bdrd: 2px;

/* box shadow */
$base-shadow: rgba(48, 48, 48, 0.12) 0px 1px 6px, rgba(48, 48, 48, 0.5) 0px 1px 4px;
$base-light-shadow: rgba(255, 255, 255, 0.12) 0px 1px 6px, rgba(255, 255, 255, 0.5) 0px 1px 4px;

/* spacing */
$base-pd: 8px;
$base-mg: 8px;

/* icon */
$icon-size-S: 2rem;
$icon-size-L: 4rem;

/* animation */
$base-transiton: all 300ms 0s ease;

/* alpha */
$base-opa: 0.85;